#topDiv {
    position: relative;
    width: 1024px;
    height: 576px;
}

#boxes {
    position: absolute;
    display: flex;
    top: 0;
    right: calc(506px - 110px); 
}

#playerHealth,
#enemyHealth {
    width: 80px;
    height: 80px;
    color: white;
    background-color: gray;
    font-size: 40px;
    font-family: Impact, Charcoal, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

#time {
    /* position: absolute; */
    right: 500px;
    width: 80px;
    height: 80px;
    color: white;
    background-color: red;
    font-size: 55px;
    font-family: Impact, Charcoal, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

#winnerStatus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: none;
}


.parent {
    position: relative;
    width: 300px;
    /* veya başka bir değer */
    height: 200px;
    /* veya başka bir değer */
    background-color: #ccc;
    /* Parent elementin arka plan rengi */
}

.child {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2f2f2; */
    /* İstediğiniz arka plan rengi */
    text-align: center;
}